.Login {
  background-image: url("../assets/background.jpg");
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;

  width: 100%;
  margin: auto;
}
.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
.captcha {
  padding-bottom: 15px;
}

button {
  background: #6cb0a4;
  width: 100%;
}
p {
  color: red;
  padding-top: 10px;
}
h1 {
  color: #6cb0a4;
}
.signupbox {
  margin-top: 10px;
}
