.news {
  background-image: url("../assets/background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.innercontainer {
  height: 70vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  width: 80vw;
}

.article {
  margin: 10px;
  font-size: 20px;
}
